# Application & Server Configuration
APP_NAME="Petróleo en Argentina: Del Pozo al País"
APP_ENV=development
APP_DEBUG=true
APP_HOST=127.0.0.1
APP_PORT=8000

# CARTO Configuration (Opcional - por defecto utiliza OpenFreeMap y AWS Terrarium)
CARTO_ACCOUNT=""
CARTO_ACCESS_TOKEN=""
CARTO_API_BASE_URL="https://gcp-us-east1.api.carto.com"
CARTO_CONNECTION="carto_dw"

# Static Directories
STATIC_DATA_DIR="api/static_data"
FRONTEND_DIR="frontend"
